[submodule "libraries/AndEngine"]
	path = libraries/AndEngine
	url = git@github.com:CS349-CerealKillers/AndEngine.git
[submodule "libraries/AndEngineTMXExtension"]
	path = libraries/AndEngineTMXExtension
	url = git@github.com:CS349-CerealKillers/AndEngineTMXTiledMapExtension.git
